/* header */
header {
    height: 70px;
}

.navbar-brand {
    color: #333 !important;
}

.btn-wallet-connect {
    margin-top: 5px;
}

/* home */
#home-introduction {
    margin-top: 100px;
    margin-bottom: 100px;
}

#home-ballots {
    margin-top: 50px;
}

.mt-15 {
    margin-top: 6rem!important;
}

.mb-15 {
    margin-bottom: 6rem!important;
}

.alert-link {
    color: #fff;
    text-decoration: underline;
}

.Toastify__toast {
    position: relative;
    min-height: 50px !important;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px 20px !important;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-height: 800px;
    overflow: hidden;
    font-family: sans-serif;
    cursor: pointer;
    direction: ltr;
}

.Toastify__toast--info {
    background: #377dff !important;
}